.vscode/*
.env
node_modules/ 
package-lock.json
.eslintrc.js

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/package-lock.json

# testing
client/coverage

# production
client/build
